<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 

    <!-- bootstrap css link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
     <!-- style.css link-->
    <link rel="stylesheet" href="/style.css">
        <!--  --> 
    <title>Allineps Portfolio</title>
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
          <a class="navbar-brand nav-item" href="/profile">Kocsis Alex</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cv">CV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            <div class="containerbutton justify-content-end">
                <div class="toggle">
                       
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" onclick="Animatedtoggle()">
                    <label class="btn btn-outline-primary" for="btncheck1"><div class="text">Light</div></label>
                    </div>
                </div>
                </div>
            </div>
            <a href="/auth/logout" class="btn btn-primary ">Logout</a>
          </div>
        </div>
      </nav>
      </header>

      <div class="text2">

         <H2>Wellcome</H2>
         <p>This Webpage i build for Bootstrap 5  and Javasrcipt. </p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique temporibus, perspiciatis minus dolores reprehenderit cumque ipsa impedit assumenda voluptatem officiis culpa consectetur, inventore animi voluptatum ullam nesciunt repellat quasi Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, accusantium, ad ullam consequatur laborum, illo perspiciatis earum eveniet molestias odit rerum laboriosam repellendus dicta dolore enim magni voluptatem velit in. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum obcaecati quia molestias consequatur consequuntur voluptates quis nulla corporis, iusto labore quibusdam, neque animi tempore id? Ad porro mollitia nam eum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores error mollitia odit eaque deleniti cupiditate. Rem eaque ratione eos, placeat voluptates quos pariatur? Commodi quia neque earum totam officiis numquam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni officiis excepturi quibusdam id tempore cupiditate officia facilis laudantium sint iure quia, esse maxime nihil aperiam itaque illum possimus dicta ex! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis perspiciatis quasi quaerat dolorum perferendis, porro odit omnis impedit qui, reprehenderit vero obcaecati rem officia, adipisci autem nulla ratione ipsam quia.Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique temporibus, perspiciatis minus dolores reprehenderit cumque ipsa impedit assumenda voluptatem officiis culpa consectetur, inventore animi voluptatum ullam nesciunt repellat quasi Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, accusantium, ad ullam consequatur laborum, illo perspiciatis earum eveniet molestias odit rerum laboriosam repellendus dicta dolore enim magni voluptatem velit in. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum obcaecati quia molestias consequatur consequuntur voluptates quis nulla corporis, iusto labore quibusdam, neque animi tempore id? Ad porro mollitia nam eum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores error mollitia odit eaque deleniti cupiditate. Rem eaque ratione eos, placeat voluptates quos pariatur? Commodi quia neque earum totam officiis numquam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni officiis excepturi quibusdam id tempore cupiditate officia facilis laudantium sint iure quia, esse maxime nihil aperiam itaque illum possimus dicta ex! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis perspiciatis quasi quaerat dolorum perferendis, porro odit omnis impedit qui, reprehenderit vero obcaecati rem officia, adipisci autem nulla ratione ipsam quia.</p>
      </div>
    <!--  bootstrap js script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
<script src="/js/main.js"></script>
</body>
</html>