<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style.css link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>
<body>
 
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    
  
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="signupallineps col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Sign up now</h2>
              <form action="/auth/register" method="POST">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  
                    <div class="form-outline mb-4">
                      <input type="text" id="username" class="names form-control" placeholder="Username" name="username" required/>
                    
                    </div>
                    <div class="form-outline mb-4">
                      <input type="text" id="name" class="name form-control" placeholder="Full name" name="name" required/>
                    
                    </div>
                  <!-- <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="name" class="form-control" />
                      <label class="form-label" for="form3Example2">Name</label>
                    </div>
                  </div> -->
                </div>
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" class="email form-control" name="email" placeholder="Email Address" id="email" required/>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" class="password form-control"  id="password" name="password" placeholder="Password" required/>
                </div>
                <div class="form-outline mb-4">
                  <input type="password" class="passwordConfirm form-control"  id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Password" required/>
                </div>
  
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Subscribe to our newsletter
                  </label>
                </div>
  
                <!-- Submit button -->
                  <input type="submit"  class="btn btn-primary" value="Sign up">
                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
                <br>
                <a href="/login" class="btn btn-primary btn-block mb-4">Back to home page</a>
              
              <div>
                  {{#if message}}
                    <div class="alert alert-warning">
                      {{message}}
                    </div>  
                  {{/if}}
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      
  </section>
</body>
</html>