body{
    height: 120vh;
    position: relative;
    background: -webkit-linear-gradient(to bottom, rgb(107, 107, 255), rgb(10, 191, 252), rgb(11, 234, 250)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(107, 107, 255), rgb(10, 191, 252), rgb(11, 234, 250));
}
/*-- dark mode gomb-------------------------------------------------------------------------------------------------------------------------*/

body.active{
    background: linear-gradient(to bottom, rgb(3, 3, 247), rgb(0, 82, 109), rgb(32, 0, 58)) ;
    color: #d6bbbb;
}


/*--carousel kartyak -------------------------------------------------------------------------------------------------------------------------*/

.carousel-inner .carousel-item {
height: 700px;
}
.d-block{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 230px;
}


/*---------------------------------------------------------------------------------------------------------------------------*/
.slider {
  margin-bottom: 30px;
  position: relative;
}
 .carousel-inner .carousel-item {
  transform: scale(1.15);
  opacity: 1;
  background: #f7e5db; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0663ee, #7db6f8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f3f3f3, #0074f8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.carousel-inner {
  background: rgb(223, 83, 83);
  padding: 0px 0px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgba(0, 0, 0, 0.836);
  transform: scale(0.9);
  transition: all 0.3s;
}
.carousel-item img {
  border-radius: 5px 5px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 100px;

}
.carousel-control-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.carousel-control-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
/*-index.html cv.html contact.html  hatter--------------------------------------------------------------------------------------------------------------------------*/

.text2 {
    transform: scale(1.15);
    opacity: 1;
    background: #f7e5db; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0663ee, #7db6f8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f3f3f3, #0074f8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }
  .text2 {
    margin-bottom: 30px;
    position: relative;
  }

  .text2 {
    background: linear-gradient(to bottom, #f3f3f3, #0074f8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    padding: 50px 50px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgba(0, 0, 0, 0.836);
    transform: scale(0.9);
    transition: all 0.3s;
  }
   h2 {
    text-align: center;
    font-size: 50px;

  }
/*-- Register.html -------------------------------------------------------------------------------------------------------------------------*/
.signupallineps .card{
  background: hsla(252, 100%, 6%, 0.55);
  backdrop-filter: blur(80px);
}
.signupallineps{
  position: absolute;
width: 600px;
height: 400px;
top: 30%; /*magassag*/
left: 50%;/*oldalso irany*/
margin-left: -300px; /* mindig a szélesség felét kell megadni */
margin-top: -200px; /* mindig a magasság felét kell megadni */
}


/*---------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
.text2 .contact {
  text-align: center;
}


/*---------------------------------------------------------------------------------------------------------------------------*/    /*    */

body{
  color: black;
  }
  .bg-secondary-soft {
      background-color: rgba(208, 212, 217, 0.1) !important;
  }
  .rounded {
      border-radius: 5px !important;
  }
  .py-5 {
      padding-top: 3rem !important;
        padding-bottom: 3rem !important;
  }
  .px-4 {
      padding-right: 1.5rem !important;
      padding-left: 1.5rem !important;
  }
  .file-upload .square {
      height: 250px;
      width: 250px;
      margin: auto;
      vertical-align: middle;
      border: 1px solid #dc3545;
      background-color: #fff;
      border-radius: 5px;
  }
  .text-secondary {
      --bs-text-opacity: 1;
      color: rgba(0, 0, 0, 0.5) !important;
  }
  .btn-success-soft {
      color: #28a745;
      background-color: rgba(40, 167, 69, 0.1);
  }
  .btn-danger-soft {
      color: #dc3545;
      background-color: rgba(220, 53, 69, 0.1);
  }
  .form-control {
      display: block;
      width: 100%;
      padding: 0.5rem 1rem;
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 1.6;
      color: #29292e;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ff0606;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 5px;
      -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }


/*---------------------------------------------------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------------------------------------------------*/




/*---------------------------------------------------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------------------------------------------------*/

